<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltarParaPlanoSemanal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-centralizado">Lista de Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <!-- Container com filtros -->
  <div class="filtro-container">
    <div class="filtro-linha">
      <ion-segment [(ngModel)]="filtroStatus" (ionChange)="filtrarServicos()" color="secondary">
        <ion-segment-button value="todos">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ABERTA">
          <ion-label>Abertos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="FECHADA">
          <ion-label>Fechados</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="filtrarServicos()"
        debounce="500"
        placeholder="Buscar serviço..."
        animated>
      </ion-searchbar>
    </div>
  </div>

  <!-- Visualização dos serviços -->
  <div class="mobile-view">
    <ion-card *ngFor="let servico of servicosFiltrados">
      <ion-card-header>
        <ion-card-title>Serviço Nº {{ servico.numero }}</ion-card-title>
        <ion-card-subtitle>
          Status:
          <ion-badge [color]="servico.status === 'ABERTA' ? 'warning' : 'success'">
            {{ servico.status }}
          </ion-badge>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Data:</strong> {{ servico.dataServico }}</p>
        <p><strong>Autor do Serviço:</strong> {{ servico.autorServico }}</p>
        <p><strong>Nome do Cliente:</strong> {{ servico.nomeCompletoCliente }}</p>
        <p><strong>Contato:</strong> {{ servico.contatoCliente }}</p>
        <p><strong>Modelo:</strong> {{ servico.modeloAparelho }}</p>
        <p><strong>Marca:</strong> {{ servico.marcaAparelho }}</p>
        <p><strong>Problema Relatado:</strong> {{ servico.problemaRelatado }}</p>
        <p><strong>Solução Aplicada:</strong> {{ servico.solucaoInicial }}</p>
        <p><strong>Valor Total:</strong> {{ servico.valorTotal }}</p>
        <p><strong>Custo Estimado:</strong> {{ servico.custoEstimado }}</p>
        <p><strong>Data de Conclusão:</strong> {{ servico.dataConclusao }}</p>
        <p><strong>Responsável:</strong> {{ servico.responsavel }}</p>
        <p><strong>Observações:</strong> {{ servico.observacoes }}</p>

        <ion-button expand="full" fill="solid" color="tertiary" (click)="gerarPDF(servico)">
          Gerar PDF
        </ion-button>
        <ion-button expand="full" fill="solid" color="warning" (click)="editarServico(servico)">
          Editar Serviço
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
