<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()" type="button">
        <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center-title">Gestor de Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="adicionarCliente()" type="button">
        <ion-icon name="add-outline"></ion-icon>
        Adicionar Cliente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding conteudo-branco">
  <ion-searchbar [(ngModel)]="filtro" placeholder="Pesquisar..." (ionInput)="filtrarClientes()" debounce="300"></ion-searchbar>

  <ion-grid>
    <ion-row class="table-header">
      <ion-col size="2"><strong>Codigo</strong></ion-col>
      <ion-col size="2"><strong>Nome</strong></ion-col>
      <ion-col size="2"><strong>Contacto</strong></ion-col>
      <ion-col size="2"><strong>Email</strong></ion-col>
      <ion-col size="2"><strong>Morada</strong></ion-col>
      <ion-col size="2"><strong>Ações</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let cliente of clientesFiltrados">
      <ion-col size="2">{{ cliente.codigoCliente }}</ion-col>
      <ion-col size="2">{{ cliente.nome }}</ion-col>
      <ion-col size="2">{{ cliente.contacto }}</ion-col>
      <ion-col size="2">{{ cliente.email }}</ion-col>
      <ion-col size="2">{{ cliente.morada }}</ion-col>
      <ion-col size="2">
        <ion-button color="primary" size="small" fill="clear" type="button" (click)="editarCliente(cliente)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" fill="clear" type="button" (click)="excluirCliente(cliente)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>