:host {
  --ion-background-color: #f0f7ff;
  --ion-text-color: #048;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #07f;
  color: #fff;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.user-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

ion-toolbar {
  --background: #07f;
  --color: #fff;
  text-align: center;
  border-bottom: 3px solid #0056b3;
}

.top-bar {
  margin: 15px 0;
}

ion-label {
  font-size: 1rem;
  font-weight: bold;
  color: #048;
}

ion-select, ion-searchbar {
  --background: #fff;
  --border-radius: 25px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --color: #048;
  --placeholder-color: #6c757d;
  --placeholder-opacity: 0.8;
  padding: 8px;
  width: 100%;
}

ion-searchbar.searchbar-has-focus {
  --box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  --background: #e3f2fd;
}

ion-searchbar::part(search-icon) {
  color: #07f;
  font-size: 1.5rem;
}

ion-searchbar::part(searchbar-input) {
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #048;
  margin-top: 20px;
}

p {
  font-size: 1rem;
  color: #6c757d;
}

ion-datetime {
  width: 100%;
  background: #e3f2fd;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #07f;
  margin-top: 15px;
}

ion-footer {
  border-top: 3px solid #0056b3;
}

ion-button {
  --background: transparent;
  --color: #048;
  font-size: 1rem;
  font-weight: bold;
}

ion-button ion-icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

ion-modal {
  --background: #f0f7ff;
  --ion-background-color: #f0f7ff;
  --ion-text-color: #048;
  --width: 60%;
  --height: 40%;
  --border-radius: 10px;
}

ion-modal ion-header, ion-modal ion-footer {
  --background: #07f;
  --color: #fff;
}

ion-modal ion-button {
  --color: #fff;
}

ion-modal ion-button[slot="start"] ion-icon {
  font-size: 1.5rem;
}

ion-fab-button {
  --background: #38f;
  --background-activated: #3171e0;
  --color: #fff;
}

ion-fab {
  margin-bottom: 20px;
  margin-right: 20px;
}