.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #6a82fb, #fc5c7d); /* Gradiente suave */
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.app-logo {
  width: 120px;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-group {
  width: 100%;
  max-width: 400px; /* Limitar a largura do formulário */
  margin-bottom: 20px;
}

ion-item {
  --background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  border-radius: 10px;
}

.btn-animate {
  margin: 10px 0;
  border-radius: 12px;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-animate:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
