<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="salvarPerfil()">
    <!-- Nome Completo -->
    <ion-item>
      <ion-label position="floating">Nome Completo:</ion-label>
      <ion-input
        [(ngModel)]="perfil.fullName"
        name="fullName"
        aria-label="Nome Completo"
        required
        minlength="3"
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="!perfil.fullName && form.submitted" color="danger">
      O nome completo é obrigatório.
    </ion-note>

    <!-- Nome de Utilizador -->
    <ion-item>
      <ion-label position="floating">Nome de Utilizador:</ion-label>
      <ion-input
        [(ngModel)]="perfil.username"
        name="username"
        aria-label="Nome de Utilizador"
        required
        minlength="3"
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="!perfil.username && form.submitted" color="danger">
      O nome de utilizador é obrigatório.
    </ion-note>

    <!-- Botão de Salvar -->
    <ion-button expand="full" type="submit">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Salvar
    </ion-button>
  </form>
</ion-content>
