/* No seu arquivo de estilo (ex: .scss) do componente */

ion-content {
    --background: #ffffff; /* Fundo branco */
    --color: #000000; /* Texto preto */
  }
  
  ion-header {
    --background: #ffffff; /* Fundo branco no header */
    --color: #000000; /* Texto preto */
  }
  
  ion-toolbar {
    --background: #ffffff; /* Fundo branco na toolbar */
    --color: #000000; /* Texto preto */
  }
  
  ion-title {
    color: #000000; /* Título preto */
  }
  
  ion-label,
  ion-input,
  ion-textarea,
  ion-select {
    color: #000000; /* Texto preto nos campos */
  }
  
  ion-button {
    --background: #000000; /* Botão com fundo preto */
    --color: #ffffff; /* Texto branco no botão */
  }
  