<ion-header>
  <ion-toolbar>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="utilizador">
    <p>Alterar senha para: <strong>{{ utilizador.fullName }}</strong> ({{ utilizador.email }})</p>
  </div>

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="novaSenha" name="novaSenha" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" type="submit" style="margin-top: 20px;">
      Alterar Senha
    </ion-button>

    <ion-button expand="block" color="medium" fill="clear" (click)="cancelar()">
      Cancelar
    </ion-button>
  </form>
</ion-content>
