<ion-header>
  <ion-toolbar>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nova Senha</ion-label>
    <ion-input type="password" [(ngModel)]="novaSenha"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="onSubmit()" style="margin-top: 20px;">
    Alterar Senha
  </ion-button>

  <ion-button expand="block" color="medium" fill="clear" (click)="cancelar()">
    Cancelar
  </ion-button>
</ion-content>
