:host {
  --ion-background-color: #fff; /* Fundo branco */
  color: #333; /* Cor de texto escura */
}

ion-content {
  --background: #fff;
  padding: 1rem 1.5rem;
}

ion-item {
  --background: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 15px;
  --border-color: #ddd;
  --color: #333;
}

ion-label h2 {
  font-weight: 600;
  font-size: 1rem;
  color: #222;
  margin-bottom: 4px;
}

ion-label p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

ion-input {
  color: #333 !important;
  --placeholder-color: #999;
  --background: #fff;
  border-radius: 8px;
  padding-left: 12px;
}

ion-button {
  --border-radius: 8px;
  font-weight: 600;
  --background: #3880ff; /* Azul do toolbar */
  --color: #fff;
  margin-top: 20px;
}

ion-button[color="medium"] {
  --background: transparent;
  --color: #666;
  --border-radius: 8px;
  margin-top: 10px;
}

ion-button[color="medium"]:hover {
  background-color: #f0f0f0;
}

form {
  max-width: 400px;
  margin: 0 auto;
}
